body {
    background: url('assets/images/start.jpg');
    background-attachment: fixed;
    font-family: 'Kaushan Script', cursive;
}

.jumbotron {
    margin-top: 100px;
    background-color: rgb(238,238,238, .7);
    border-radius: 25px;
}
